header {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: var(--default-pad);
  background: var(--bg-2);
  border-bottom: 1px solid var(--light-border-color);
  color: var(--text-1);
}

#search-input {
  background: var(--bg-3);
  border: 1px solid var(--light-border-color);
  border-radius: 50px;
  padding: 0.4rem 1rem;
  width: 45vw;
  color: var(--text-1);
}
#search-input::placeholder {
  color: #aaa;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-section span {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-section .scndry-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.header-section .scndry-profile-name {
  font-weight: 500;
}

.header-section .main-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

#header-button-container button {
  background: var(--button-color-1);
  padding: 0.5rem 1.5rem;
  border-radius: 50px;
  border: 1px solid var(--light-border-color);
  color: var(--text-1);
}

#main-profile-name span:nth-child(1) {
  color: var(--text-2);
  font-weight: 400;
  font-size: 0.8rem;
}

#main-profile-name span:nth-child(2) {
  font-weight: 500;
}
