@import "card.css";
@import "people.css";
@import "announcement.css";

main {
  display: flex;
  flex-wrap: wrap;
  grid-gap: var(--default-pad);

  padding: var(--default-pad);
}

.left-section {
  flex: max(200px, 70%);
}

.right-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;

  flex: max(100px, 25%);
}

.right-section > div {
  height: auto;
  flex: max(200px, 100%/3);
}

.left-section h3,
.right-section h3 {
  color: var(--text-1);
  font-size: 1rem;
  font-weight: 400;

  margin-bottom: 1rem;
}

.left-section-card-container {
  display: flex;
  flex-wrap: wrap;

  gap: var(--default-pad);
}

.right-section-child-container {
  background: var(--bg-2);
  border-radius: 10px;
  padding: var(--default-pad);

  display: flex;
  flex-direction: column;
  gap: 10px;

  border: 1px solid var(--dark-border-color);
}
