:root {
  --bg: #23242b;
  --bg2: #2c3034;
  --bg-3: #7f7f7f;
  --light-border-color: #7f7f7f;
  --dark-border-color: #15161a;
  --text-1: #c0bfc1;
  --text-2: #838383;
  --purple: #5d4192;
  --light-red: #f66673;
}
